<div class="profile">
  <div class="profile_pic">
    <%= image_tag @user.avatar %>
  </div><!-- profile_pic -->
  <div class="user_info">
    <h2><%= @user.username %></h2>
    <span><%= @user.name %></span>
    <br>
    <span>Current Balance: <%= number_to_currency(@user.balance) %></span>
    <br>
    <span>Games Won: <%= @user.games_won %></span>
    <br>
    <span>Games Lost: <%= @user.games_lost %></span>
    <br>
    <span>Total Amount Won: <%= number_to_currency(@user.amount_won) %></span>
    <br>
    <span>Total Amount Lost: <%= number_to_currency(@user.amount_lost) %></span>
  </div><!-- .user_info -->
</div><!-- .profile -->
