<!DOCTYPE html>
<html>
<head>
  <title>Jakd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <nav>
      <%= play_if_logged_in %>
      <%= login_or_logout_links %>
      <%= register_link %>
    </nav>
    <div id="yield" class="group">
      <%= yield %>
    </div>
  </div>
</body>
</html>
